/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

.toplevel_page_diviepic-plugins {
	background-color: #fff;
}

#wpcontent {
	padding-left: 0;
}

/** Animation **/

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
