.iti.phone-error {
	border-color: red;
}

.iti, &.pixelbones.input .iti {

	display: block;

	ul {
		list-style: none !important;
	}

	.iti__selected-flag {
		//height: calc(100% - 12px);
	}

	&.invalid-number {
		input[type=tel] {
			border-color: darkred !important;
		}
	}

	& + .lwa-inline-error {
		margin: 10px 0;
		color: darkred;
	}

	input[type=tel], .iti--allow-dropdown input, .iti--allow-dropdown input[type=tel], .iti--allow-dropdown input[type=text], .iti--separate-dial-code input, .iti--separate-dial-code input[type=tel], .iti--separate-dial-code input[type=text] {
		padding-right: 6px !important;
		padding-left: 92px !important;
		margin-left: 0 !important;
	}

	.iti__flag {background-image: url("../external/intl-tel-input/img/flags.png");}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.iti__flag {background-image: url("../external/intl-tel-input/img/flags@2x.png");}
	}
}