tr.cnb-starter {
    display: none;
}

td.cnb-starter, th.cnb-starter {
    display: none;
}

table.cnb-nb-plans tbody th {
    font-size: 15px;
    padding: 3px 0;
}

table.cnb-nb-plans tbody th .cnb-tooltip-icon {
    font-size: 13px;
}

.cnbShowStarterFeatures {
    cursor: pointer;
}