@font-face {
    font-family: 'CNB Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../font/cnb.woff") format('woff2');
}
.cnb-font-icon i {
    font-family: 'CNB Icons';
    outline: none;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    font-size:250%;
}
.action-item {
    display: inline-block;
    margin: 10px;
}