@font-face {
    font-family: 'CNB Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../font/cnb.woff") format('woff2');
}
.cnb-font-icon i {
    font-family: 'CNB Icons';
    outline: none;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
}
.cnb-actions-container {
    height: 231px;
    justify-content: center;
}
.cnb-buttons-container {
    position: relative;
    height:104px;
    margin: 40px auto;
    width:266px;
}
.cnb-buttons-container .cnb-big-number {
    top:0;
    left:0;
    line-height:0.8;
}
.cnb-buttons-container .cnb-big-text {
    top:0;
    left:69px;
    font-size: 3em;
    font-weight: 700;
    line-height:1;
}
.cnb-buttons-container .cnb-smaller-text {
    top:51px;
    left:71px;
    font-size: 1.8em;
    font-weight: 100;
    letter-spacing: 0.7px;
    line-height:1;
    color: #999;
}
.cnb-actions-container .cnb-big-number {
    line-height:1
}
.cnb-big-number {
    font-size: 7em;
    font-weight: 700;
    background: -webkit-linear-gradient(#f9c9ff, #a42eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cnb-benefit-number {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(var(--i) * 24deg)) translate(100px) rotate(calc(var(--i) * -24deg));
    /* Adjust 100px to change the radius of the circle */
    font-size:30px;
    background: -webkit-linear-gradient(#3ab741, #3adc3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}