@tailwind base;
@tailwind components;
@tailwind utilities;

.bookly-form .bookly-js-datepicker-calendar {
    max-width: unset !important;
}

.bookly-form .bookly-js-datepicker-calendar button {
    text-align: center !important;
}

.bookly-form .bookly-overflow-visible {
    overflow: visible;
}