.am-licence {
  border: 1px dashed @color-blue !important;
  padding: 10px !important;
  background-color: fade(@color-blue, 5%) !important;
  border-radius: 4px !important;
  margin-bottom: 24px !important;
  margin-top: 5px;

  div {
    span {
      color: @color-text-prime !important;
    }
  }

  &-block {
    display: flex !important;
    align-items: center !important;
  }

  i.el-icon-lock {
    color: @color-blue !important;
    display: inline-block !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 1 !important;
  }

  a.el-button {
    &:focus {
      text-shadow: none;
      box-shadow: none;
    }
  }
}

.am-licence-page {
  a {
    background-color: @color-blue !important;
    color: white !important;
  }

  i {
    font-size: 200px !important;
    color: @color-blue !important;
  }
}

.am-licence-hidden {
  display: none !important;
}

.am-licence-container-disabled {
  opacity: 0.4 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.am-licence-calendar {
  .fc-day-button, .fc-month-button, .fc-timelineDay-button, .fc-listWeek-button {
    opacity: 0.4 !important;
    pointer-events: none;
  }
}
