@charset "UTF-8";
/* Recommended */
.jltma-admin {
  /* Review */
  /* Popup */
  /* Subscribe form */
  /*---- badge ---*/
  /* Disable Field */
  /* Start of Overlay Upgrade Popup  */
  /* End of Overlay Upgrade Popup  */
}
.jltma-admin .mt0 {
  margin-top: 0;
}
.jltma-admin #TB_window {
  top: 13% !important;
}
.jltma-admin #TB_window,
.jltma-admin #TB_window iframe {
  width: 772px !important;
  height: 690px !important;
}
.jltma-admin #plugin-information-scrollable {
  height: calc(100% - 65px) !important;
}
.jltma-admin .jltma-recommended-wrapper .mr-0 {
  margin: 0 !important;
}
.jltma-admin .jltma-recommended-wrapper .plugin-card .name,
.jltma-admin .jltma-recommended-wrapper .plugin-card .desc {
  margin-right: inherit !important;
}
.jltma-admin .jltma-recommended-wrapper .button:not(.update-now).updating-message:before,
.jltma-admin .jltma-recommended-wrapper .button:not(.update-now).updated-message:before,
.jltma-admin .jltma-recommended-wrapper .button:not(.update-now).installed:before,
.jltma-admin .jltma-recommended-wrapper .button:not(.update-now).installing:before {
  margin: 6px 10px 0px -3px !important;
}
.jltma-admin .jltma-recommended-wrapper .plugin-status-active {
  color: #00BA88;
}
.jltma-admin .jltma-recommended-wrapper .plugin-status-inactive {
  color: #F4B740;
}
.jltma-admin .jltma-recommended-wrapper .plugin-status-not-install {
  color: #1d2327;
}
.jltma-admin .jltma-recommended-wrapper .plugin-status {
  line-height: 34px;
}
.jltma-admin .jltma-recommended-wrapper .hide {
  display: none;
}
.jltma-admin #wpbody-content .notice-jltma {
  padding: 15px;
  position: relative;
}
.jltma-admin #wpbody-content .notice-plugin-review {
  padding: 15px;
  position: relative;
}
.jltma-admin #wpbody-content .notice-plugin-review .button:not(.jltma-notice-dismiss) {
  margin-right: 5px;
}
.jltma-admin #wpbody-content .notice-plugin-review .jltma-notice-dismiss {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.jltma-admin #wpbody-content .jltma-notice-plugin-popup {
  max-width: 850px;
  min-height: 300px;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  border-radius: 5px !important;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0;
  position: fixed;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 54px 0px rgba(20, 20, 42, 0.3) !important;
  box-shadow: 0px 0px 54px 0px rgba(20, 20, 42, 0.3) !important;
}
.jltma-admin #wpbody-content .jltma-notice-plugin-popup .jltma-notice-dismiss {
  -webkit-box-shadow: none;
          box-shadow: none;
  float: right;
  cursor: pointer;
}
.jltma-admin .upgrade-pro-popup {
  gap: 15px;
  background: #fff;
  padding: 40px !important;
}
.jltma-admin .upgrade-pro-popup .upst-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.jltma-admin .upgrade-pro-popup .col:nth-child(1) {
  padding-right: 20px;
  padding-top: 120px;
}
.jltma-admin .upgrade-pro-popup .col:nth-child(1) img {
  max-width: 100%;
  /* -webkit-box-shadow: 0px 0px 54px 0px rgb(20 20 42 / 10%) !important;
  box-shadow: 0px 0px 54px 0px rgb(20 20 42 / 10%) !important; */
}
.jltma-admin .upgrade-pro-popup .col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.jltma-admin .upgrade-pro-popup .col:nth-child(2) {
  padding-left: 20px;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body {
  color: rgba(78, 75, 102, 0.72);
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FB0066;
  margin-bottom: 10px;
  letter-spacing: 1px;
  gap: 10px;
  font-size: 22px;
  line-height: 32px;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body h3 {
  color: #14142B;
  letter-spacing: 1px;
  font-size: 28px;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body h3 span {
  color: #0347ff;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body p {
  font-weight: normal !important;
  line-height: 22px !important;
  font-size: 16px !important;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body ul li {
  margin: 10px 0;
  line-height: 22px;
  padding-left: 30px;
}
.jltma-admin .upgrade-pro-popup ul li:before {
  position: absolute;
  content: "\f15e";
  font-family: dashicons;
  font-size: 19px;
  left: 0;
  top: 0;
  z-index: 1;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body ul li:before {
  color: #fff;
  top: 2px;
  left: 1px;
  font-size: 17px;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body ul li:after {
  position: absolute;
  content: "";
  background: #00BA88;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  top: 3px !important;
  left: 1px;
}
.jltma-admin .upgrade-pro-popup ul li {
  position: relative;
  list-style: none;
  padding-left: 25px;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body ul li span {
  color: #14142B !important;
}
.jltma-admin .upgrade-pro-popup .upst-body .content-body .upgrade-btn {
  background: #0347ff;
  color: #fff;
  font-size: 18px;
  border: 0 !important;
  border-radius: 7px;
  padding: 5px 25px;
}
.jltma-admin .upgrade-pro-popup .upst-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  width: 70%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.jltma-admin .upgrade-pro-popup ul li {
  position: relative;
  list-style: none;
  padding-left: 25px;
}
.jltma-admin .upgrade-pro-popup .upst-footer ul li a {
  color: rgba(78, 75, 102, 0.72) !important;
}
.jltma-admin .upgrade-pro-popup .upst-footer ul li a:hover {
  color: #0347FF !important;
}
.jltma-admin .upgrade-pro-popup .upst-footer ul li:before {
  font-size: 22px;
  color: #00BA88;
}
.jltma-admin .jltma-notice-plugin-popup .jltma-notice-dismiss {
  border: 0 !important;
  outline: none !important;
  background: transparent !important;
}
.jltma-admin .jltma-notice-plugin-popup .jltma-notice-dismiss:before {
  content: "×" !important;
  font-size: 30px !important;
  height: 22px !important;
  width: 22px !important;
  color: rgba(78, 75, 102, 0.72) !important;
}
.jltma-admin body.jltma-popup-overlay {
  position: relative;
  height: auto;
}
.jltma-admin body.jltma-popup-overlay:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.jltma-admin #wpbody-content .jltma-notice-subscribe {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.jltma-admin .jltma-notice-subscribe img {
  width: 50px;
  max-width: 50px;
  height: 50px;
  margin-right: 15px;
}
.jltma-admin .jltma-notice-subscribe h4 {
  margin-top: 0;
}
.jltma-admin .jltma-notice-subscribe-input {
  margin-right: 15px;
}
.jltma-admin .jltma-badge:after {
  color: #fff;
  position: absolute;
  font-size: 11px;
  padding: 1px 7px;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 3px;
  display: none;
}
.jltma-admin .jltma-badge-pro:after {
  content: "Pro";
  background: darkorange;
}
.jltma-admin .jltma-badge-ultimate:after {
  content: "Ultimate";
  background: blueviolet;
  right: -60px;
}
.jltma-admin .image-choose-opt.disabled .disabled-text {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 5px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(85, 85, 85, 0.7);
  color: #fff;
}
.jltma-admin .form-table tr.disabled {
  position: relative;
}
.jltma-admin .form-table tr.disabled > * {
  opacity: 0.6;
}
.jltma-admin .form-table tr.disabled > * input,
.jltma-admin .form-table tr.disabled > * select,
.jltma-admin .form-table tr.disabled > * textarea,
.jltma-admin .form-table tr.disabled > * button {
  pointer-events: none;
}
.jltma-admin .form-table tr.disabled:hover .jltma-badge:after {
  display: inline;
}
.jltma-admin :root {
  --jltma-popup-color: #FF631A;
}
.jltma-admin .jltma-popup * {
  all: initial;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.jltma-admin .jltma-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999999 !important;
}
.jltma-admin .jltma-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.jltma-admin .jltma-popup-modal {
  width: 600px;
  max-width: 600px !important;
  height: 600px;
  max-height: 600px !important;
  color: white;
  background: #222;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.jltma-admin .jltma-popup-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: var(--jltma-popup-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}
.jltma-admin .jltma-popup-modal-close:hover {
  opacity: 1;
}
.jltma-admin .jltma-popup-modal-footer {
  width: 100%;
  height: 225px;
  max-height: 225px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 0;
}
.jltma-admin .jltma-popup-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}
.jltma-admin .jltma-popup-countdown-text {
  font-size: 14px;
  font-weight: 600;
  color: white;
  position: relative;
  line-height: 1.2;
}
.jltma-admin .jltma-popup-countdown-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}
.jltma-admin .jltma-popup-countdown-time > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 5px;
}
.jltma-admin .jltma-popup-countdown-time > div > span {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.jltma-admin .jltma-popup-countdown-time > div > span:nth-child(1) {
  border: 2px solid rgba(255, 255, 255, 0.6);
  height: 40px;
  width: 45px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.jltma-admin .jltma-popup-countdown-time > div > span:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.jltma-admin .jltma-popup-countdown-time > span {
  font-size: 50px;
  color: white;
  margin-top: -25px;
}
.jltma-admin .jltma-popup-button {
  height: 50px;
  background: var(--jltma-popup-color);
  color: #222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  padding: 0 30px;
  margin: 20px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  text-decoration: none;
}
.jltma-admin .jltma-popup-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.jltma-admin .jltma-popup-button:hover {
  color: white;
}
.jltma-admin .jltma-popup-button:hover:after {
  width: 100%;
}
.jltma-admin .jltma-wwc > p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}
.jltma-admin .jltma-wwc-content {
  margin-bottom: 25px;
  color: #646970;
}
@media (max-width: 576px) {
  .jltma-admin .jltma-popup-countdown {
    -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
            transform: scale(0.99);
  }
}

/*# sourceMappingURL=master-addons-admin-sdk.css.map*/