.analytics-card {
  width: 100%;
  padding: 15px;
  border: 0.0625rem solid rgba(231, 234, 243, 0.7);
  box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
  border-radius: 5px;
  margin-bottom: 30px;
}

.reload-analytics {
  cursor: pointer;
}

.reload-analytics span {
  color: #e9bb32;
}

.reload-analytics.loading {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reload-analytics.loading span {
  -webkit-animation: full_spin 1s linear infinite;
  animation: full_spin 1s linear infinite;
}

@-webkit-keyframes full_spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes full_spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

#chart-area ._header,
#journey-view ._header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chart-area ._header input,
#journey-view ._header select {
  padding: 10px 5px;
  font-size: 1.25em;
  line-height: 1;
  text-align: center;
}

#journey-view ._header select {
  text-align: left;
  min-width: 200px;
}

#chart-area ._body {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

#chart-area ._body canvas {
  flex-basis: 75%;
  max-width: 75%;
}

#dashboard-chart-legend {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 30px;
  flex: 1;
  padding: 30px 0;
  justify-content: flex-start;
}

.small-card {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(231, 234, 243, 0.7);
  border-radius: 0.75rem;
  box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
}

.small-card-body {
  padding: 15px;
  width: 100%;
}

.small-card-body strong {
  display: block;
  text-transform: uppercase;
  color: #8c98a4;
  font-size: 0.71094rem;
  margin-bottom: 14px;
}

.small-card-body h4 {
  margin: 0 !important;
  font-size: 24px;
  line-height: 1;
}

#table-area,
#journey-stats {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.table-card {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(231, 234, 243, 0.7);
  border-radius: 0.75rem;
  box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
  padding: 15px;
  flex: 1;
  max-width: 50%;
  display: block;
  overflow-x: auto;
}

.table-card h3 {
  margin: 0;
  margin-bottom: 15px;
}

.table-card table {
  margin: 0;
  border: unset;
}

.stage-editions {
  display: flex;
  justify-content: center;
}

.stage-editions input {
  flex: 1;
}

.stage-editions .actions {
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.stage-editions .actions a {
  padding: 5px;
  text-decoration: none;
  border-right: solid 1px black !important;
  display: block;
  width: 100%;
  flex: 1;
  line-height: 1;
}

.stage-editions .actions a:last-child {
  border-right: 0 !important;
}

.stage-editions .actions a:hover {
  border-right: solid 1px black;
}

.pipeline-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pipeline-editor th,
#pipeline-editor td {
  padding: 5px;
}

.conversion-data {
  display: flex;
  line-height: 1;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #f1f3f5;
  font-weight: bold;
  color: rgb(103, 119, 136);
  position: relative;
}

.conversion-data .change {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1;
  display: block;
  padding: 5px;
  font-size: 60%;
  border-radius: 3px;
  font-weight: normal;
  border: solid 1px;
}

.conversion-data .change.up {
  color: rgb(0, 201, 167);
  background-color: rgb(229 249 246);
}

.conversion-data .change.down {
  color: rgb(237, 76, 120);
  background-color: rgb(253 237 241);
}

#current-conversions td {
  vertical-align: middle;
}
