#full-connection-validate {
  text-align: center;
  margin-top: 15px;
}

#full-connection-validate a {
  text-decoration: none;
}

#full-connection-validate span {
  font-size: 1em;
  display: none;
}

#full-connection-validate a {
  display: inline-flex;
  line-height: 1;
}

#full-notice-api,
#open-full-notice-api {
  display: none;
}

.full-disconnected-notice {
  color: #ed4c78;
  background-color: rgba(237, 76, 120, 0.15);
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-align: center;
  max-width: 350px;
  margin: auto;
}

.full-page-content {
  padding: 0 30px;
}

.full-page-content h4 {
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.widgets-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.full-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0.6875rem;
  gap: 0.75em;
  padding: 1em 0.5em;
  box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
  position: relative;
  overflow: hidden;
}

.full-widget .templately-badge {
  position: relative;
  border-radius: 999px;
  top: 0;
  display: inline;
  padding: 5px 10px;
  right: unset;
}

.full-widget .icon {
  padding: 0.5em;
}

.full-widget .icon img {
  display: block;
  max-width: 2em;
}

.full-widget .description {
  flex: 1;
}

.full-widget h4 {
  margin: 0;
  margin-bottom: 0.5em;
}

.full-widget p {
  margin: 0;
}

.full-widget a {
  text-decoration: none;
  color: #5453fd;
}

.full-widget.widget-required .status {
  opacity: 0.5;
  font-size: 0.75em;
}

.templately-wrapper .templately-badge {
  background: #4e4e4e;
}

.full-widget-form {
  background: #fff;
  padding: 0 1em;
  border-radius: 5px;
}

.full-widget-form table {
  width: 100%;
}

.full-widget-form th {
  width: 300px;
}

.full-widget-form th,
.full-widget-form td {
  padding: 18px 20px 16px 10px;
  text-align: left;
  line-height: 1.4;
}

.full-widget-form .custom-input {
  display: block;
  width: 100%;
  max-width: unset;
  height: calc(1.6em + 1.21875rem);
  padding: 0.54688rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1e2022;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid #c3c6d1 !important;
  border-radius: 0.3125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.full-widget-form .select2-container {
  width: 100% !important;
}

#full-products-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
}

@media (min-width: 640px) {
  #full-products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}

@media (min-width: 1024px) {
  #full-products-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}

@media (min-width: 1400px) {
  #full-products-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
}

#full-products-grid .avatar {
  aspect-ratio: 1;
  width: 80px;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#full-products-grid .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(231, 234, 243, 0.7);
  border-radius: 0.75rem;
  margin: 0;
  padding: 0;
}

#full-products-grid .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.3125rem;
}

#full-products-grid .card h3 {
  margin: 0.5em 0 1em;
}

#full-products-grid .card-footer {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1.3125rem 1.3125rem;
  background-color: #fff;
  border-top: 0.0625rem solid rgba(231, 234, 243, 0.7);
  border-radius: 0 0 0.6875rem 0.6875rem;
  justify-content: space-between;
  align-items: center;
}

#full-products-grid .card-footer a {
  text-decoration: none;
  color: #eabc32;
}

#full-products-grid .badge {
  padding: 8px;
  font-size: 10.5px;
  font-weight: 600;
  line-height: 1;
  color: rgb(113, 134, 157);
  background-color: rgba(113, 134, 157, 0.1);
  border-radius: 5px;
}

#purchase-options {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 550px;
  margin: 20px auto;
  border-radius: 0.75rem;
}

#purchase-options .body {
  padding: 1.5rem;
}

.modal-top-cover {
  background: #eabc32 !important;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 8rem;
  border-top-right-radius: 0.6875rem;
  border-top-left-radius: 0.6875rem;
}

#purchase-options figure {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 0 -5px !important;
}

#purchase-options .modal-top-cover-icon {
  position: relative;
  z-index: 2;
  margin-top: -3rem;
}

#purchase-options .icon {
  color: #1e2022;
  border-color: #f9fafc;
  background-color: #f9fafc;
  font-size: 1.53125rem;
  width: 3.36875rem;
  height: 3.36875rem;
  box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#purchase-options .mfp-close {
  color: #fff !important;
  opacity: 1;
}

#purchase-options .list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  border-radius: 0.3125rem;
}

#purchase-options .list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 0.0625rem solid #e7eaf3;
  margin: 0;
}

#purchase-options .list-group-item:first-child {
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
}

#purchase-options .list-group-item:last-child {
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

#purchase-options .list-group-item a {
  text-decoration: none;
  color: #363636;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#purchase-options .list-group-item h5 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
}

#purchase-options .list-group-item p {
  margin: 0;
}

#purchase-options .btn.btn-sm.btn-full {
  background: #eabc32;
  color: #fff;
  display: inline-block;
  padding: 0.4375rem 0.65625rem;
  font-size: 0.8125rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

#purchase-options h2 {
  margin-top: 0;
}

.templately-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full_page_full-store .templately-header-title input {
  min-width: 300px;
  border: solid 0.75px #f1f3f5;
  padding: 0.25em 1em;
}

.full-widget-title h3 {
  text-transform: none !important;
}

[class*="full-services_page_"] #wpcontent {
  padding-left: 0 !important;
}

.full-page-content .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page-content .tabs a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1em 2em;
  background: #e9eef3;
  border-radius: 10px 10px 0 0;
  transition: all 150ms;
}

.full-page-content .tabs a.active {
  background: #fff;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05) !important;
  font-weight: bold;
}

.full-page-content #images-response {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.full-page-content #images-response .image-card {
  border: solid 1px;
  border-radius: 6px;
  padding: 0.5em 1em;
}

.full-page-content #images-response .image-card img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.full-page-content #images-response .image-card .image-content {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

.generate-image-alt {
  background: #eabc32;
}

.toplevel_page_full-connection .full-badge {
  font-size: 70%;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 55px;
  font-weight: bold;
  opacity: 1;
  color: #fff !important;
  margin-left: 3px;
}

.toplevel_page_full-connection .full-badge.full-success {
  background: #00c9a7;
}

.toplevel_page_full-connection .full-badge.full-error {
  background: #ed4c78;
}

.toplevel_page_full-connection .full-badge.full-full {
  background: #eabc32;
}

#update-widgets {
  background: #eabc32;
  color: #fff;
  display: inline-block;
  padding: 0.875rem 1.09375rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3125rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 150ms;
}

#update-widgets:hover {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#full-widgets {
  display: flex;
  flex-flow: column nowrap;
  gap: 3em;
}

#full-widgets h4 {
  margin: 0;
}

#full-widgets .widgets-grid {
  margin-top: 0.5em;
}

#full-widgets #fw-basic {
  order: 2;
}

#full-widgets #fw-nativo {
  order: 1;
}

#full-widgets #fw-pro {
  order: 4;
}

#full-widgets #fw-advanced {
  order: 3;
}

#full-widgets #fw-add-on {
  order: 99;
}
