.full-social-proof-social {
  position: fixed;
  bottom: 15px;
  z-index: 999;
}

.full-social-proof-social.bottom-left {
  left: 15px;
}

.full-social-proof-social.bottom-center {
  right: 0;
  left: 0;
  margin: auto;
}

.full-social-proof-social.bottom-right {
  right: 15px;
}

.full-social-proof-social .full-woo-orders-popup-inner {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  transition: all 300ms ease;
  width: 250px;
  box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
  border: solid 1px rgb(0 0 0 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.full-social-proof-social .customer-information {
  flex: 1;
  flex-basis: calc(100% - 50px);
}

.full-social-proof-social p {
  margin: 0;
  line-height: 1;
  font-size: 12px;
}

.full-social-proof-social img,
#full-map {
  width: 50px;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  height: 50px;
}

.full-social-proof-social:not(.visible) {
  transform: translate(0, 150%);
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.full-social-proof-social .dismiss-woo-order-popup {
  cursor: pointer;
  color: #fff;
  background: #d9d9d9;
  border-radius: 100%;
  display: inline-flex;
  line-height: 1;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: 0;
  transition: all 150ms;
}

.full-social-proof-social:hover .dismiss-woo-order-popup {
  opacity: 1;
}

.full-social-proof-social .dismiss-woo-order-popup:hover {
  background: #f00;
}

#full-woo-orders-popup.stacked.visible {
  transform: translate(0, -80px);
}
