.payment_method_stripe_upm {
  img {
    width: 27px;
    height: 27px;
    max-width: 27px;
    max-height: 27px;
  }

  .wc-stripe_upm-new-method-container {
    margin-bottom: 1em;
  }
}

.wc-stripe-installment-container {
  margin-top: 15px;

  p {
    margin: 0;
  }

  label {
    &.installment-label {
      font-weight: 500;
      margin: 0 0 5px 0;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .wc-stripe-installment-options.loading-installments {
    opacity: 0.4;
  }

  .wc-stripe-installment-loader__container {
    flex: 1 1 auto;

    .wc-stripe-installment-loader {
      transform: scale(.55);
      width: 30px;
      height: 30px;
      position: absolute;
      top: -2px;

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 3px solid #000;
        border-radius: 50%;
        animation: installment-loader 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #000 transparent transparent transparent;
      }

      div:nth-child(1) {
        animation-delay: -0.45s;
      }

      div:nth-child(2) {
        animation-delay: -0.3s;
      }

      div:nth-child(3) {
        animation-delay: -0.15s;
      }

    }
  }
}

@keyframes installment-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}