#nsc_bar_admin_title {
  background: url('../img/icon-96x96.png') no-repeat left center;
  background-size: 48px 48px;
  line-height: 35px !important;
  padding-left: 55px !important;
}

.nsc_bar_notice_block_services {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  margin: 5px 15px 2px;
  padding: 1px 12px;
  border-left: 4px solid #dba617;
}

.nsc_bar_notice_premium_addon_hint {
  background: #fefeff;
  border: 1px solid #c3c4c7;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  margin: 8px 0px 2px;
  padding: 1px 12px;
  border-left: 8px solid #0037ff;
}

.nsc_bar_notice_premium_addon_hint.yellow {
  background: #fffefc;
  border-left: 8px solid #ffa913;
}

.nsc_bar_notice_below_tabs {
  background: #fff;
  border-left-width: 4px;
  box-shadow: 0px 14px 14px 14px rgb(0 0 0 / 15%);
  margin: 24px 0px;
  padding: 1px 12px;
  border-radius: 12px;
}

.nsc_bar_notice_links {
  width: 100%;
}

.nsc_bar_notice_link_two {
  float: right;
}

#nsc_bar_notice_please_rate_image {
  margin-right: 20px;
}

.nsc_bar_cookietypes_table td,
th {
  padding: 0em;
}

.nsc_bar_cookietypes_table th {
  padding: 0em;
}

label.nsc_bar_inline_error {
  text-align: center;
  color: #cc0000;
  font-weight: bold;
  font-size: 0.8em;
}

input.nsc_bar_inline_error {
  background: #cc0000;
  color: white;
}

@media screen and (max-width: 782px) {
  .nsc_bar_cookietypes_table tr:not(.inline-edit-row):not(.no-items) td:not(.column-primary)::before {
    position: relative;
    left: 2px;
    display: block;
    overflow: hidden;
    content: attr(data-colname);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .nsc_bar_cookietypes_table th {
    display: none;
  }
  .nsc_bar_cookietypes_table tr {
    background: #f9f9f9;
  }

  .nsc_bar_cookietypes_table td {
    padding: 0.5em;
  }
  .nsc_bar_cookietypes_table {
    border-spacing: 1em 1em;
    position: relative;
    top: -2em;
  }
}

#nsc_settings_content {
  float: left;
  min-width: 600px;
  width: 72%;
}

#nsc_bar_sidebar .nsc_bar_info_box h3 {
  padding: 0 0 1em 0;
  margin: 0;
  border-bottom: 1px solid #ececec;
}

#nsc_bar_sidebar .nsc_bar_info_box {
  background-color: #fff;
  padding: 1em;
  margin: 0 0 1em 0;
}

#nsc_bar_sidebar {
  width: 280px;
  float: right;
  padding: 1em 0 0 1em;
}

#nsc_bar_sidebar .nsc_bar_inside_text {
  margin: 1em 0;
}

@media (max-width: 1278px) {
  #nsc_bar_sidebar {
    padding: 1em 1em 1em 0;
    width: 100%;
    float: left;
  }

  #nsc_settings_content {
    width: 100%;
  }
}

@media (max-width: 390px) {
  #nsc_bar_sidebar {
    width: 280px;
  }
}

/* toggles for google consent mode */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-container .toggle-checkbox {
  display: none;
}

.toggle-container .toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  bottom: 2px;
}

.toggle-container .toggle-checkbox:checked + .toggle-label {
  background-color: #2196f3;
}

.toggle-container .toggle-label::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  top: 2.5px;
  left: 2.5px;
  transition: 0.3s;
}

.toggle-container .toggle-checkbox:checked + .toggle-label::after {
  left: 27.5px;
}

.toggle-container .toggle-label .como-toggle-label-text {
  position: relative;
  top: 28px;
  width: 114px;
  display: block;
  left: 7px;
  font-weight: 400;
  font-style: italic;
}

#nsc_bar_helper_text_consent_mode {
  padding-top: 25px;
}

.nsc_bar_helper_text_consent_mode_cell svg {
  float: inline-start;
  padding-right: 10px;
}

#comoComplianceType {
  font-weight: 800;
}

.nsc_bar_new_banner_selector-text {
  vertical-align: top;
  text-align: left;
  padding: 20px 10px 20px 0;
  width: 200px;
  line-height: 1.3;
  font-weight: 600;
  cursor: text;
  font-size: 1.1em;
  padding-left: 0.8em;
}

#nsc_bar_new_banner_selector-label {
  position: relative;
  top: 1px;
}

.tab_description {
  padding: 0 10px 0 10px;
}

.tab_description p {
  font-size: 14px;
}
