/*.components-button.block-editor-block-types-list__item.editor-block-list-item-amelia-step-booking-gutenberg-block .block-editor-block-icon{
    width: 44px !important;
}

.components-button.block-editor-block-types-list__item.editor-block-list-item-amelia-step-booking-gutenberg-block svg{
    max-width: 44px !important;
}

.components-button.block-editor-block-types-list__item.editor-block-list-item-amelia-step-booking-gutenberg-block .block-editor-block-types-list__item-icon {
 padding-right: 5px;
}

.block-editor-block-card span {
    position: relative
}

.amelia-step-booking-gutenberg {
    position: absolute;
    max-width: 44px !important;
}*/

#amelia-js-select-service, #amelia-js-select-category, #amelia-js-select-employee, #amelia-js-select-location, #amelia-js-select-package {
    height: 100px;
    overflow-y: scroll;
}

.amelia-gutenberg-multi-select .components-input-control-suffix-wrapper{
    display: none
}