.pochipp-popover {

	width: 380px;

	> .components-popover__content {
		width: 100%;
		overflow: hidden;
	}

	.pochipp-popover__body {
		padding: 1em;
	}

	.pochipp-popover__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;

		padding: 0.5em;
		color: #fff;
		letter-spacing: 1px;
		text-align: center;
		background-color: #069a8e;

		svg {
			fill: #fff;
		}
	}


	.pochipp-popover__search {
		margin-bottom: 1.5em;
		border-color: #444;
	}

	.pochipp-popover__list {
		max-height: 30vh;
		overflow-y: auto;
	}

	.pochipp-popover__card {
		display: flex;
		padding: 12px;
		border-top: solid 1px #ccc;

		.pochipp-popover__card-image {
			flex-basis: 56px;
			flex-shrink: 0;
			margin-right: 12px;

			image {
				max-width: 56px;
			}
		}

		.pochipp-popover__card-body {
			flex: 1;

			.pochipp-popover__card-description {
				margin: 0.25em 0 0.5em;
				overflow: hidden;
				line-height: 1.4;
				// font-size: 13px;
				text-overflow: ellipsis;
			}

			.pochipp-popover__card-btns {
				display: flex;
				flex-wrap: wrap;

				.components-button {
					height: auto;
					margin-right: 4px;
					margin-bottom: 4px;
				}
			}
		}

		.pochipp-popover__disabled {
			padding: 0.75em;
			border: solid 1px rgb(250, 8, 8);
		}
	}

}
