.qlwapp__container {
	pointer-events: none;
	box-sizing: border-box;
	font-size: var(--qlwapp-scheme-font-size, inherit);
	font-family: var(--qlwapp-scheme-font-family, inherit);
	display: flex;
	flex-direction: column;

	@media (min-width: 430px) {
		width: 430px;
	}

	* {
		box-sizing: border-box;
	}

	&.qlwapp-hide,
	.qlwapp__contact.qlwapp-hide {
		display: none;
	}

	&.mobile {
		.qlwapp__contact.qlwapp-desktop,
		&.qlwapp-desktop {
			display: none;
		}
	}

	&.desktop {
		.qlwapp__contact.qlwapp-mobile,
		&.qlwapp-mobile {
			display: none;
		}
	}

	// Position
	// ---------------------------------------------------------------------------
	&.qlwapp__container--middle-left,
	&.qlwapp__container--bottom-left,
	&.qlwapp__container--middle-right,
	&.qlwapp__container--bottom-right {
		position: fixed;
		z-index: 9999999;
	}

	// Left
	// ---------------------------------------------------------------------------

	&.qlwapp__container--middle-left,
	&.qlwapp__container--bottom-left {
		right: auto;
		left: 0;

		.qlwapp__button {
			// .qlwapp-days,
			.qlwapp__label,
			.qlwapp__time {
				left: 0;
				right: auto;
			}
		}

		// &.qlwapp__container--bubble,
		// &.qlwapp__container--button {
		// .qlwapp-developer,

		// }

		// &.qlwapp__container--bubble {
		// 	.qlwapp__button {
		// 		.qlwapp__text {
		// 			right: auto;
		// 			left: 60px;
		// 		}
		// 	}
		// }

		.qlwapp__modal {
			&:before {
				right: auto;
				left: 20px;
			}
		}
	}

	// Right
	// ---------------------------------------------------------------------------

	&.qlwapp__container--middle-right,
	&.qlwapp__container--bottom-right {
		left: auto;
		right: 0;

		.qlwapp__button {
			// .qlwapp-days,
			.qlwapp__label,
			.qlwapp__time {
				left: auto;
				right: 0;
			}
		}
	}

	// Middle
	// ---------------------------------------------------------------------------

	&.qlwapp__container--middle-left,
	&.qlwapp__container--middle-right {
		top: 40%;
		transition: top 0.3s ease;
		bottom: auto;
	}

	&.qlwapp__container--middle-left {
		.qlwapp__button {
			margin-left: -48px;
			padding-left: 60px;
		}
	}

	&.qlwapp__container--middle-right {
		.qlwapp__button {
			margin-right: -48px;
			padding-right: 60px;
		}
	}

	// &.qlwapp__container--middle-left--open,
	// &.qlwapp__container--middle-right--open {
	// 	top: 20%;
	// 	flex-direction: column-reverse;
	// 	.qlwapp__modal:before {
	// 		top: -6px;
	// 		bottom: 0;
	// 		background-color: var(--qlwapp-scheme-brand);
	// 	}
	// }

	// Bottom
	// ---------------------------------------------------------------------------

	&.qlwapp__container--bottom-left,
	&.qlwapp__container--bottom-right {
		top: auto;
		bottom: 0;
	}

	&.qlwapp__container--bottom-left {
		// .qlwapp-developer,
		.qlwapp__button {
			margin-left: 20px;
		}

		.qlwapp__button--bubble {
			.qlwapp__text {
				right: auto;
				left: var(--qlwapp-scheme-icon-size, 60px);
			}
		}

		.qlwapp__modal {
			&:before {
				right: auto;
				left: 20px;
			}
		}
	}

	&.qlwapp__container--bottom-right {
		// .qlwapp-developer,
		.qlwapp__button {
			margin-right: 20px;
		}
	}

	&.qlwapp__container--rounded {
		.qlwapp__button--bubble {
			border-radius: 50%;
		}

		.qlwapp__button--button {
			border-radius: 50px;
		}

		.qlwapp__modal {
			@media (min-width: 430px) {
				border-radius: 8px;
			}

			.qlwapp__message {
				border-radius: 4px;
				&::before {
					background-color: inherit;
				}
			}
		}
	}

	p:last-child {
		margin: 0;
	}

	time {
		opacity: 0.8;
		font-style: italic;
		font-size: 10px;
	}
}

.qlwapp {
	//Woocommerce
	&--woocommerce {
		.qlwapp__container {
			display: inline-block !important;
			width: auto !important;

			&.qlwapp__button .qlwapp__toggle {
				margin: 0;
			}
		}
	}
	//Shortcode
	&--shortcode {
		.qlwapp__container {
			width: auto;
		}
	}
}
