@font-face {
	font-family: Lato Regular;
	src: url("../fonts/Lato-Regular.ttf");
	font-weight: regular;
}
@font-face {
	font-family: Lato Bold;
	src: url("../fonts/Lato-Bold.ttf");
	font-weight: bold;
}
.cx-wizard-wrap .cx-wizard-container {
	padding: 24px 40px;
}
.cx-wizard-wrap .cx-wizard-sub {
	font-size: 16px;
	line-height: 1.3;
}
.thumb_size_italic {
	font-style: italic;
}
.image_sizes-checkbox-label {
	font-size: 12px;
	font-weight: 400;
	margin: 0px;
	padding-top: 4px;
}
.image_sizes-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.image_sizes-switch .image_sizes-switch-checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}
.image_sizes-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e3203bcf;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.image_sizes-slider::before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 100px;
}
.image_sizes-slider::after {
	content: "";
	color: #fff;
	position: absolute;
	top: 3px;
	right: 7px;
	font-size: 8px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	font-weight: bold;
}
.image-sizes-pro .image_sizes-slider::after {
    position: absolute;
    content: "\f160";
    font-family: dashicons;
    color: #ffffff;
    font-size: 15px;
    right: 5px;
    top: 2px;
}
.image-sizes-pro-active .image_sizes-slider::after {
    content: "NO";
}


.image_sizes-switch-checkbox:checked + .image_sizes-slider {
	background-color: #00b492;
}
.image_sizes-switch-checkbox:checked + .image_sizes-slider::after {
	content: "";
}

.image_sizes-switch-checkbox:focus + .image_sizes-slider {
	box-shadow: 0 0 1px #2196f3;
}

.image_sizes-switch-checkbox:checked + .image_sizes-slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.image_sizes-slider.round {
	border-radius: 34px;
}
.image_sizes-slider.round:before {
	border-radius: 50%;
}
#row-main-file .image_sizes-switch-col .image_sizes-slider {
	background-color: #a5b0a5;
}

#image_sizes-form-table {
	width: 100%;
	margin: 50px 0 0 0;
	font-size: 14px;
	font-family: Lato Regular;
	color: #4d4d4d;
	text-align: left;
}
#image_sizes-form-table td {
	padding: 12px 0px;
    width: 40%;
}
#image_sizes-form-table td:last-child {
    width: 20%;
}
#image_sizes-form-table th {
	font-weight: 600;
	padding-bottom: 10px;
	margin-left: 0px;
}
.cx-products {
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Lato Bold;
	font-size: 20px;
}
.step-three input[type="checkbox"] {
	font-size: 16px;
	height: 16px;
	width: 16px;
}
.cx-suggestion-label {
	cursor: pointer;
	position: relative;
}
.cx-suggestion-sub {
	display: block;
	margin-left: 28px;
	color: #464646;
	font-style: italic;
}
.loader_div {
	position: absolute;
	top: 0;
	bottom: -5%;
	left: 0;
	right: 0%;
	z-index: 99;
	opacity: 0.7;
	display: none;
	background: lightgrey url("../img/loader.gif") center center no-repeat;
}
.cx-claim {
    color: #002cff;
    font-weight: 600;
    margin-left: 5px;
}
.cx-wizard-heading a{
	color: #000;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.cx-wizard-icon{
	height: 30px;
	width: 30px;
}

/* Pro popup start */
#thumb-pro-popup {
    width: 500px;
    background: white;
    position: fixed;
    top: 200px;
    left: calc(50% - 250px);
    z-index: 9999;
    padding: 15px;
    box-shadow: 0 0 60px #c2d7ff;
    border-radius: 7px;
    text-align: center;
}
#thumb-pro-popup #thumb-pro-popup-hide {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 24px;
    height: 24px;
    border: 1px solid #c8daff;
    cursor: pointer;
    border-radius: 4px;
}
.thumb-pro-popup-img {
    height: 200px;
}
.thumb-pro-popup-txt {
    font-size: 15px;
}
#thumb-pro-popup-btn {
    background: #075BFE;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    animation: glowing 0.8s infinite;
    font-weight: bold;
    display: inline-flex;
    margin-top: 10px;
}
/* Pro popup End */